* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
    background-size: 100% 185%;
}

.home-text-cont {
    height: 400px;
    width: 500px;
    padding-top: 110px;
    padding-left: 60px;
    color: white;
}

.find-job-btn {
    width: 100px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 5px;
    border: none;
    color:black;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 5px 0px black,-0.5px -0.5px 0.3px 0px rgb(255, 254, 254);
    position: relative;
    /* top: -400px; */

}
.find-job-btn.animate {
    animation: none;
  animation-name:popEffect ;
  animation-duration:0.4s;
  animation-timing-function: ease;
}

@keyframes popEffect {
  50% {
    transform: translate(0px,-8px);
    letter-spacing: 1px;

  }
}

.heading {
    position: relative;
    right: 500px;
    font-size: 45px;
    animation-name: slide;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;

}

@keyframes slide {
    from {
        position: relative;
        right: 500px;
    }

    to {
        position: relative;
        right: 0px;
        transform: translate(-500px, px)
    }
}

.find-job-btn.bounce{
    animation-name: bounce;
    animation-duration:1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.side-heading {
    position: relative;
    animation-name: bounce;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes bounce {
      from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0px);
  }

}


