* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-cont {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to right bottom, rgb(59, 4, 4), rgb(136, 76, 189)90%) */
    background-image: url(loginBgImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    position:relative;
    bottom: 50px;
    width: 340px;
    height: 490px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color: rgba(34, 18, 48, 0.644);
    box-shadow: 0px 0px 8px 1px rgba(202, 42, 189, 0.418)
}

.mb-1 {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    color:white;
}
.signin{
    margin-top: 10px;
}
.user-logo {
    width: 80px;
    height: 80px;
    color: rgb(147, 154, 182);
}

.logo-username {
    position: relative;
    right: 570px;
    top:10px;
}

.img1 {
    width: 170px;
    height: 50px;
}

.my-button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(199, 12, 52);
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}
.my-button.animate {
  animation: pulse 0.4s ease;
}
.my-button:hover{
    transform:translate(0px,-5px);
    box-shadow: 3px 5px 6px 0px rgb(0, 0, 0);
}
@keyframes pulse{
    50%{
        transform:translate(0px,-5px);
        box-shadow: 3px 3px 5px  black;
        letter-spacing: 10px;
    }
}


#exampleInputEmail1 {
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    border: none;
    margin-top: 5px;
}

#exampleInputEmail1:hover,
#exampleInputPassword1:hover {
    border-radius: 0px;
    transform: scale(1.07);
    border: 0px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.726);
}

#exampleInputPassword1 {
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    border: none;
    margin-top: 5px;
}

.errstatement {
    color: rgb(231, 216, 216);
    font-size: 13px;
    margin-left: 30px;
    margin-top: 10px;
}

.username-password {
    color: rgb(55, 129, 129);
}
.form-label{
    color:rgb(255, 254, 254);
}